In [21]:
import pandas as pd

In [22]:
# read the data from csv file
df = pd.read_csv("../data/raw/imdb_raw.csv")

In [23]:
# get details about the data like each column and it's datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1000 non-null   object
 1   director      1000 non-null   object
 2   release_year  1000 non-null   object
 3   runtime       1000 non-null   object
 4   genre         1000 non-null   object
 5   rating        1000 non-null   float64
 6   metascore     1000 non-null   int64
 7   gross         1000 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [24]:
# view the first 5 rows in dataframe
df.head(5)

,title,director,release_year,runtime,genre,rating,metascore,gross
0,The Shawshank Redemption,Frank Darabont,(1994),142 min,Drama,9.3,82,$28.34M
1,The Godfather,Francis Ford Coppola,(1972),175 min,"Crime, Drama",9.2,100,$134.97M
2,The Dark Knight,Christopher Nolan,(2008),152 min,"Action, Crime, Drama",9.0,84,$534.86M
3,Schindler's List,Steven Spielberg,(1993),195 min,"Biography, Drama, History",9.0,95,$96.90M
4,12 Angry Men,Sidney Lumet,(1957),96 min,"Crime, Drama",9.0,97,$4.36M

In [25]:
# Let's view statistical summaries of our dataset using the describe() method.

# Describe only numeric columns (default behavior)
print("===== NUMERIC SUMMARY (Default: Only Numeric Columns) =====")
print(df.describe())

print("\n") 

# Describe object (categorical/text) columns
print("===== CATEGORICAL SUMMARY (Using include='object') =====")
print(df.describe(include='object'))

===== NUMERIC SUMMARY (Default: Only Numeric Columns) =====
           rating    metascore
count  1000.00000  1000.000000
mean      7.96870    66.653000
std       0.27562    30.712829
min       7.60000     0.000000
25%       7.80000    64.750000
50%       7.90000    77.000000
75%       8.10000    86.000000
max       9.30000   100.000000


===== CATEGORICAL SUMMARY (Using include='object') =====
           title        director release_year  runtime  genre gross
count       1000            1000         1000     1000   1000  1000
unique       994             560          123      142    195   709
top     Scarface  Akira Kurosawa       (2014)  130 min  Drama     0
freq           2              12           28       24     91   188